<h1 class="display-2">
  <small class="text-muted">{{carDetail.brandName}}</small>
  {{car.name}}
</h1>
<p class="lead">{{car.description}}</p>

<h2 class="display-6 mt-4">Tarih seçimi</h2>
<div class="row mt-3">
  <div class="col-md-6">
    <label for="rentDate" class="form-label">Kira başlangıç tarihi</label>
    <input type="date" [(ngModel)]="rentDateStr" (change)="calculateTotalPrice()" min="{{todayDateStr}}" class="form-control" id="rentDate">
  </div>
  <div class="col-md-6">
    <label for="returnDate" class="form-label">İade tarihi</label>
    <input type="date" [(ngModel)]="returnDateStr" (change)="calculateTotalPrice()" min="{{todayDateStr}}" class="form-control" id="returnDate">
  </div>
</div>
<div *ngIf="formError" class="alert alert-danger mt-3">
  <strong>Hata:</strong> {{formError}}
</div>
<table class="table mt-3">
  <tbody>
    <tr>
      <td class="fw-bold">Kiralama süresi:</td>
      <td>{{rentalDayCount}} gün</td>
    </tr>
    <tr>
      <td class="fw-bold">Günlük ücret:</td>
      <td>{{ car.dailyPrice | currency:"TRY":"₺" }}</td>
    </tr>
    <tr>
      <td class="fw-bold">Ödeyeceğiniz toplam miktar:</td>
      <td><mark>{{ totalPrice | currency:"TRY":"₺" }}</mark></td>
    </tr>
  </tbody>
</table>

<div class="row mt-3 mb-5">
  <div class="col-md-auto">
    <a routerLink="/cars/{{car.id}}" class="btn btn-secondary">Geri</a>
  </div>
  <div class="col-md-auto">
    <button (click)="continueToPayment()" class="btn btn-primary">Devam Et</button>
  </div>
</div>
