<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">DurmaKirala</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cars">Araçlar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rentals">Kiralamalar</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <app-register-dropdown *ngIf="!isAuthenticated()"></app-register-dropdown>
        <app-login-dropdown *ngIf="!isAuthenticated()"></app-login-dropdown>
        <li *ngIf="isAuthenticated()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ getUserFullName() }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUser">
            <li><a routerLink="/account-settings" class="dropdown-item">Hesap ayarları</a></li>
            <li><a (click)="logout()" class="dropdown-item">Çıkış yap</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
