<div class="text-center mt-4">
  <h1 class="display-1">Hoş Geldiniz</h1>
  <p class="lead"><strong>.NET Core</strong> ve <strong>Angular</strong> teknolojileri kullanılarak geliştirilmiş bu <strong>web uygulaması</strong> sayesinde araç kiralama işlemlerinizi kolaylıkla gerçekleştirebilirsiniz.</p>
</div>

<div class="row mt-4">
  <div class="col-md-6 mb-2">
    <a routerLink="/cars" class="btn btn-primary w-100 p-5">Araçlar</a>
  </div>
  <div class="col-md-6 mb-2">
    <a routerLink="/rentals" class="btn btn-primary w-100 p-5">Kiralamalar</a>
  </div>
</div>
